{% load static %}
<section class="s-about" id="s-about">
  <div class="container">
    <div class="about-row">
      <div class="about-left">
        <h2 class="def-title wow fadeInLeft" data-wow-delay="0.2s">
          About our company
        </h2>
        <div class="def-desc wow fadeInLeft" data-wow-delay="0.3s">
          <strong>J.H.G. Builders Inc. </strong>provides professional, quick
          solutions for all your home and commercial maintenance needs. Our
          services include: <br />
          <br />
          Installation <br />
          Maintenance <br />
          Repairs <br />
          Painting <br />
          Plumbing <br />
          Electricals <br />
          Drywall <br />
          And more... <br />
          <br />
          Contact us for a free estimate at (516) 724-6709. Quality guaranteed.
        </div>
        <a
          href="tel:5167246709"
          class="banner-btn def-btn anchor-link wow fadeIn text-decoration-none"
          data-wow-delay="0.3s"
        >
          Call us now</a
        >
      </div>

      <div class="about-right">
        <img
          src="{% static './images/about-bg.webp' %}"
          alt="О нас"
          class="wow fadeIn"
          data-wow-delay="0.5s"
        />
      </div>
    </div>
  </div>
</section>
