{% load static %}
<section class="s-banner">
  <div class="swiper banner-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide banner-bg-1">
        <div class="banner-content">
          <!---<div class="banner-subtitle wow fadeIn" data-wow-delay="0.1s">Certified company</div>-->
          <h1 class="banner-title wow fadeIn" data-wow-delay="0.2s">
            <strong id="grueso"
              >Handyman Services - Kitchen & Bathroom - Licensed &
              Insured</strong
            ><br />
            <span id="subtitulo">Quick Solution to your Everyday Problems</span>
          </h1>
          <a href="tel:5167246709" class="banner-btn def-btn anchor-link wow fadeIn text-decoration-none"
							data-wow-delay="0.3s"><img class="pb-2" src="{% static './images/phone.svg' %}" alt="(516) 724 6709" id="telefono"> (516)
							724 6709</a>
        </div>
      </div>
      <div
        class="swiper-slide banner-bg-2"
      >
        <div class="banner-content">
          <!---<div class="banner-subtitle wow fadeIn" data-wow-delay="0.1s">Certified company</div>-->
          <h2 class="banner-title">
            <strong id="grueso"
              >Expert Building Services for All Your Needs</strong
            ><br />
            <span id="subtitulo"
              >Providing Tailored Construction Solutions with a Commitment to
              Quality and Innovation</span
            >
          </h2>
          <a
            href="tel:5167246709"
            class="banner-btn def-btn anchor-link wow fadeIn text-decoration-none"
            data-wow-delay="0.3s"
            ><img
              class="pb-2"
              src="{% static './images/phone.svg' %}"
              alt="(516) 724 6709"
              id="telefono"
            />
            (516) 724 6709</a
          >
        </div>
      </div>
      <div
        class="swiper-slide banner-bg-3"
      >
        <div class="banner-content">
          <!---<div class="banner-subtitle wow fadeIn" data-wow-delay="0.1s">Certified company</div>-->
          <h2 class="banner-title">
            <strong id="grueso"
              >Your Trusted Partner for Professional Building Solutions</strong
            ><br />
            <span id="subtitulo"
              >Transforming Visions into Reality: Your Comprehensive Partner for
              Quality Building Projects</span
            >
          </h2>
          <a
            href="tel:5167246709"
            class="banner-btn def-btn anchor-link wow fadeIn text-decoration-none"
            data-wow-delay="0.3s"
            ><img
              class="pb-2"
              src="{% static './images/phone.svg' %}"
              alt="(516) 724 6709"
              id="telefono"
            />
            (516) 724 6709</a
          >
        </div>
      </div>
    </div>

    <div class="swiper-pagination wow fadeInUp" data-wow-delay="0.5s"></div>

    <div class="container">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
<style>
  .banner-bg-1 {
    background-image: url("{% static './images/banner-bg-1.webp' %}");
  }
  .banner-bg-2 {
    background-image: url("{% static './images/banner-bg-2.webp' %}");


  }
  .banner-bg-3 {
    background-image: url("{% static './images/banner-bg-3.webp' %}");
  }
</style>
