{% load static %}
<footer class="site-footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-left">
        <div class="footer-logo">
          <a href="#">
            <img
              src="{% static './images/casa-footer.webp' %}"
              alt="Construction"
            />
          </a>
        </div>
        <div class="footer-desc">
          <strong>JHG Builders INC.</strong> we are committed to delivering
          excellence in every project we undertake.
        </div>
      </div>

      <div class="footer-right">
        <nav class="footer-nav">
          <h5 class="footer-title">Our services</h5>
          <ul>
            <li>
              <a class="text-decoration-none text-white" href="#"
                >Installation</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-white" href="#"
                >Home repair</a
              >
            </li>
            <li>
              <a class="text-decoration-none text-white" href="#"
                >Electricals</a
              >
            </li>
            <br />
            <a class="header-mobile-info">
              <img src="images/location.svg" alt="" /> </a
            ><br />
            <span style="font-weight: 700">
              <a class="text-decoration-none text-white" href="#">Serving</a
              ><br />
              <a class="text-decoration-none text-white" href="#">Queens &</a
              ><br />
              <a class="text-decoration-none text-white" href="#"
                >Long Island</a
              >
            </span>
          </ul>
        </nav>

        <div class="footer-nav">
          <h5 class="footer-title">Schedule</h5>
          <ul>
            <li>Monday to Friday : 8:00 a.m. - 5:00 p.m.</li>
            <li>Saturday: Closed</li>
            <li>Sunday: Closed</li>
          </ul>
        </div>

        <div class="footer-nav">
          <h5 class="footer-title">Contacts</h5>
          <div class="footer-info-item">
            <div class="footer-info-icon">
              <img
                src="{% static './images/location-gray.svg' %}"
                alt="Location"
              />
            </div>
            <div class="footer-info-text">
              10-11 Nameoke St, Far Rockaway, NY 11691
            </div>
          </div>
          <a href="tel:5167246709" class="footer-info-item">
            <div class="footer-info-icon">
              <img src="{% static './images/phone-gray.svg' %}" alt="Phone" />
            </div>
            <div class="footer-info-text text-decoration-none text-white">
              +1 (516) 724 6709
            </div>
          </a>

          <div class="footer-social">
            <a
              href="https://www.instagram.com/j.h.g.buildersinc?utm_source=qr&igsh=YmE3emwwNTFtZ2Nj"
              target="_blank"
            >
              <img
                src="{% static './images/social-twitter.svg' %}"
                alt="Twitter"
              />
            </a>
            <a
              href="https://www.facebook.com/share/GT2S4rvhYbtS2Hyt/?mibextid=kFxxJD"
              target="_blank"
            >
              <img
                src="{% static './images/social-facebook.svg' %}"
                alt="Facebook"
              />
            </a>
            <a
              href="https://wa.me/+15167246709?text=Hola,%20me%20gustaría%20obtener%20más%20información%20sobre%20su%20trabajo%20en%20JHG%20Builders%20Inc."
              target="_blank"
            >
              <img src="{% static './images/whatsapp.svg' %}" alt="WhatsApp" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="copyright-text">
        Copyright © 2023 Construction. All rights reserved per Jhonatan Correa
      </div>
    </div>
  </div>
</footer>
