{% load static %}
<section class="s-services" id="s-services">
  <div class="container">
    <h2 class="center-title wow fadeIn" data-wow-delay="0.1s">Our services</h2>

    <div class="services-row">
      <div class="services-item wow fadeIn" data-wow-delay="0.1s">
        <div class="services-thumb">
          <img
            src="{% static './images/service-1.webp' %}"
            alt="Construction of houses"
          />
        </div>
        <div class="services-body">
          <h4 class="services-title">Installation</h4>
          <div class="services-desc">
            J.H.G. Builders Inc. provides expert installation services for
            fixtures, appliances, and systems, ensuring precision and quality.
          </div>
          <a
            href="tel:5167246709"
            class=" text-decoration-none banner-btn def-btn anchor-link wow fadeIn"
            data-wow-delay="0.3s"
            id="ordder"
            >Order service</a
          >
        </div>
      </div>

      <div class="services-item wow fadeIn" data-wow-delay="0.2s">
        <div class="services-thumb">
          <img
            src="{% static './images/service-2.webp' %}"
            alt="Ремонт по дому"
          />
        </div>
        <div class="services-body">
          <h4 class="services-title">Home repair</h4>
          <div class="services-desc">
            Our skilled technicians handle all types of repairs, from minor
            leaks to major damages, restoring your property quickly and
            efficiently.
          </div>
          <a
            href="tel:5167246709"
            class=" text-decoration-none banner-btn def-btn anchor-link wow fadeIn"
            data-wow-delay="0.3s"
            id="ordder"
            >Order service</a
          >
        </div>
      </div>

      <div class="services-item wow fadeIn" data-wow-delay="0.3s">
        <div class="services-thumb">
          <img
            src="{% static './images/service-3.webp' %}"
            alt="Building design"
          />
        </div>
        <div class="services-body">
          <h4 class="services-title">And Much More...</h4>
          <div class="services-desc">
            J.H.G. Builders Inc. offers a wide range of additional services,
            including carpentry, flooring, and custom renovations, to meet all
            your building needs.
          </div>
          <a
            href="tel:5167246709"
            class=" text-decoration-none banner-btn def-btn anchor-link wow fadeIn"
            data-wow-delay="0.3s"
            id="ordder"
            >Order service</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
