{% load static %}
<section class="s-why" id="s-why">
  <div class="container">
    <div class="why-row">
      <div class="why-left">
        <h2 class="def-title wow fadeInLeft" data-wow-delay="0.1s">
          Why Choose J.H.G. Builders Inc.?
        </h2>
        <div class="def-desc wow fadeInLeft" data-wow-delay="0.2s">
          At J.H.G. Builders Inc., we are committed to delivering excellence in
          every project we undertake. Here's why you should choose us:
        </div>

        <div class="why-features">
          <div class="why-features-item">
            <div class="why-features-icon wow fadeInLeft" data-wow-delay="0.3s">
              <img
                src="{% static './images/check-mark.svg' %}"
                alt="Check mark"
              />
            </div>

            <div class="why-features-right">
              <div
                class="why-features-title wow fadeInRight"
                data-wow-delay="0.4s"
              >
                Professional Expertise
              </div>
              <div
                class="why-features-desc wow fadeInRight"
                data-wow-delay="0.5s"
              >
                Our team of skilled professionals brings years of experience and
                expertise to every job, ensuring top-notch quality and
                craftsmanship.
              </div>
            </div>
          </div>

          <div class="why-features-item">
            <div class="why-features-icon wow fadeInLeft" data-wow-delay="0.3s">
              <img
                src="{% static './images/check-mark.svg' %}"
                alt="Check mark"
              />
            </div>

            <div class="why-features-right">
              <div
                class="why-features-title wow fadeInRight"
                data-wow-delay="0.4s"
              >
                Customer Satisfaction
              </div>
              <div
                class="why-features-desc wow fadeInRight"
                data-wow-delay="0.5s"
              >
                We prioritize our clients' satisfaction, providing personalized
                solutions and attentive service to ensure your vision is
                realized perfectly.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="why-right">
        <img
          src="{% static './images/why-bg.webp' %}"
          alt="Почему мы?"
          class="wow fadeIn"
          data-wow-delay="0.6s"
        />
      </div>
    </div>
  </div>
</section>
